@import 'generic-styles.css';

.pointer {
  cursor: pointer;
}

.max-w-22em{
  max-width: 22em;
}

.max-w-40em{
  max-width: 40em;
}

.rounded-50 {
  border-radius: 50%;
}

.width-auto {
  width: auto;
}

.min-h-xl {
  min-height: var(--lumo-size-xl);
}


/* === EDITOR VIEW DIALOG === */

@media (min-width: 1024px) {
  
  /* Display borders on 'desktop' */
  .editor-view > header {
    border-bottom: 1px solid var(--lumo-contrast-10pct);
  }
  .editor-view-details {
    border-right: 1px solid var(--lumo-contrast-10pct);
  }
}
