:host([theme~="no-padding"]) [part="content"] {
  padding: 0;
}

:host([theme~="editor-view-dialog"]) [part="overlay"] {
  height: 100%;
  max-width: 400px;
  width: 100%;
}

@media (min-width: 1024px) {
  :host([theme~="editor-view-dialog"]) [part="overlay"] {
    height: auto;
    max-width: none;
    width: 800px;
  }
}
